<div class="b-box" data-controller="dreams">
  <div class="card-for-img-and-mapbox">
    <% @dreams.each do |dream| %>
    <div class="div-card" data-action="mouseenter->dreams#onCard" data-id="<%= dream.id %>">
      <%= image_tag dream.img_url_one, class: 'image' %>
      <h5><%= dream.name %></h5>
      <div class="dream-dreamd-actions">
        <%= link_to "Plus d'informations", dream_path(dream) %>
      </div>
    </div>
    <% end %>
  </div>

<% if @dreams.any? %>
  <div class="index-map">
    <div style="width: 450px; height: 100vh"
      data-controller="map"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-markers-value="<%= @markers.to_json %>"
      data-action="point->map#popup"
      data-dreams-target="map">
    </div>
  </div>
<% end %>
