<div class="title">
  <h1>Voici les rêves sur la région séléctionnée</h1>
    <div class="row">
      <div class="col">
        <% if @query %>
          <p>You searched for <strong><%= @query %></strong>. We found <%= @dreams.count %> dreams out of our <%= Dream.count %> on our website.</p>
        <% else %>
          <%# <p>Vous avez séléctionné la région <%= @dreams.first.regions.</p> %>
        <% end %>
      </div>
    </div>
</div>

<%# <form class="form-inline my-2  my-lg-0" action="/index">
  <input class="form-control mr-sm-2" name="q" type="text" placeholder="Rechercher une activitée en particulier" aria-label="index">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
</form> %>
<%# <%= render 'dreams' %>

  <div data-controller="search">
    <%= form_with url: dreams_path, method: :get do |form| %>
      <%= form.text_field :query,
        placeholder: "Search",
        autocomplete: "off",
        data: { action: "input->search#updateDreams", search_target: "input" }
      %>
    <% end %>
    <div data-search-target="results">
      <%= render "dreams/dreams_list", locals: { dreams: @dreams } %>
    </div>
  </div>
</div>
