<div class="title">
  <h1>Voici les rêves sur la région séléctionnée</h1>
    <div class="row">
      <div class="col">
        <% if @query %>
          <p>You searched for <strong><%= @query %></strong>. We found <%= @dreams.count %> dreams out of our <%= Dream.count %> on our website.</p>
        <% else %>
          <%# <p>Vous avez séléctionné la région <%= @dreams.first.regions.</p> %>
        <% end %>
      </div>
    </div>
</div>

<div data-controller="search">
  <%= form_with url: dreams_path, method: :get do |form| %>
    <%= image_tag("search.png", alt: "Logo", class: "form-logo") %>
    <%= form.text_field :query,
      placeholder: "Rechercher",
      autocomplete: "off",
      class: "search-form",
      data: { action: "input->search#updateDreams", search_target: "input" }
    %>
    <style>
  .search-form::placeholder {
    color: black;
  }
</style>
  <% end %>
  <div data-search-target="results">
    <%= render "dreams/dreams_list", locals: { dreams: @dreams } %>
  </div>
</div>
