<div class="calendar-container">
  <%= month_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
    <%= date %>

<% colors = {} %>
<% meetings.each_with_index do |meeting, index| %>
  <% if index == 0 %>
    <% color = "#BAA1EB" %>
  <% elsif index == 1 %>
    <% color = "#5C2DC6" %>
  <% elsif index == 2 %>
    <% color = "#120924" %>
  <% else %>
    <% n = meetings.map { |m| m.dream.name }.uniq.size %>
    <% if colors[meeting.dream.name].nil? %>
      <% hue = index.to_f / n %>
      <% colors[meeting.dream.name] = "hsl(#{hue * 360}, 50%, 50%)" %>
    <% end %>
    <% color = colors[meeting.dream.name] %>
  <% end %>
  <%= link_to meeting_path(meeting) do %>
    <div class="meeting" style="background-color: <%= color %>;">
      <%= meeting.dream.name %>
    </div>
  <% end %>
<% end %>
<% end %>
</div>
