
  <div class="two-first-div"></div>
  <%= form_with(model: Chatroom.new) do |form| %>
    <%= form.text_field :name %>
    <%= form.submit class: "btn btn-primary", data: { disable_with: "Submitting..." }, id: "submit-button" %>
  <% end %>


  <div class="general-presentation-chatroom">
    <% @chatrooms.each do |chat|  %>
      <div class="presentation-chatroom">
        <%= link_to chat.name, chatroom_path(chat.id), class: "test" %>
      </div>
    <% end %>
  </div>
  <%# ici lien vers le new de chartoom, que j'ai supprimé %>
  <%# <%= link_to "Créer un chat", new_chatroom_path %>
