<div class="home background">
  <div class="container">
    <div class="center_content">

      <h1>Trouve ton rêve à réaliser !</h1>
    <p><span data-controller="typed-js"></span></p>
    <br>
    <br>
    <h2 class="pb-5">Des particuliers mettent à dispositions leurs biens pour vous permettre de réaliser votre rêve.</h2>

      <div class="general-form">
        <%= form_with do |f| %>
         <%= f.select :regions, options_for_select([["Où veux-tu faire ton activité de rêve ?", ""], "Auvergnes - Rhône-Alpes", "PACA", "Occtanie", "Nouvelle-Aquitiane", "Centre-Val de Loire", "Pays de la Loire", "Bretagne", "Normandie", "Hauts-de-France", "Grand-Est", "Île-de-France"])%>

        <%= link_to "All the dreams here !", dreams_path, class: "button"%>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="second-part">
  <h3>Choisissez votre rêve à réaliser !</h3>
  <h5>Vos rêves à porté de clic</h5>
    <div class="block-dream">
      <div class="image-card">
        <%# <p>Une journée en plongée !</p> %>
      </div>

      <div class="second-card">
        <%# <p>Une journée en hélicopter !</p> %>
      </div>

      <div class="third-card">
        <%# <p>Une journée en dans un paddock de F1 !</p> %>
      </div>
    </div>
</div>

<div class="third-part">
  <p> Découvre les plus belles activités grace à de véritables passionnés philanthrope ! </p>

  <%# <div class="container"> %>
    <%= image_tag "sunset.jpg", class:"sunset-img"%>
    <%# <div class="overlay">
      <div class="text">Hello World</div>
    </div> %>
  <%# </div> %>

  <%= image_tag "montagne.jpg", class:"montagne-img"%>

  <%= image_tag "enjoy.jpg", class:"enjoy-img"%>
</div>

<footer class="footer">

</footer>
